.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.carrito{
 margin: 10px;
}
.boton{
 margin-left: 80px;
}
.back{
 
  height: 100vh;
  background-color: #f8d61854;
 
}
.logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.botones{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:10px
}
.btni{
  margin: 30px;
}

.form{
  height: 40px;
text-decoration: none;
margin-bottom:20px;

}
.menuBtn{
  margin: 10px;
}
.restLogo{
  height: 400px;
  width: 400px;
}
.ticket{
  width: 300px;
  height: 300px;
  background-color: #61dafb;
  margin: 20px;
  padding: 20px;
}
.kitchen{
  padding: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
